.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./images/signupbg.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .signup-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .signup-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .signup-form a {
    color: #e0e851;
    text-decoration: none;
  }
  
  .signup-form a:hover {
    text-decoration: underline;
  }
  